<footer>
  <p>
     Guichir Rugiya &copy; 2022
  </p>
  <div id="links">
      <a href="/">Главная</a>
      <a href="/actors">Актеры</a>
      <a href="/history">История</a>
      <a href="/regin">Регистрация</a>
      <a href="/login">Авторизация</a>
  </div>
    <links>
    <a href="https://www.instagram.com/abdrroid/" class="fab fa-instagram"></a>
    <a href="tg://resolve?domain=abdrroid" class="fas fa-paper-plane"></a>
    <a href="mailto:arifova2018@gmail.com?subject=Нашли баги? Что-то не нравится? Вы наглеете? Другое?" class="far fa-envelope"></a>
  </links>
</footer>
