{% extends 'index.html' %}

{% block content %}
<body>
  <div id="blockk">
  <center>
    <font face="Georgia" size="3" id="wiki">
            <a href="https://ru.wikipedia.org/wiki/%D0%A0%D0%BE%D0%BA%D1%81%D0%BE%D0%BB%D0%B0%D0%BD%D0%B0">
              Хюррем Хасеки-султан
            </a>
        </font>
         <hr align="center" width="800" size="4" color="black" />
        <div class="imgs"><img id="sultan" vspace="5" hspace="5" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a1/Tizian_123.jpg/200px-Tizian_123.jpg" alt="Историческое изображение"></div>
          
        
        
        <h1 id="texxt">  
          <font face="Georgia" size="4">
          Наложница, а затем жена османского султана Сулеймана Великолепного, хасеки, мать султана Селима II. Украинская девушка Роксолана заняла свое место в истории Османской империи благодаря непростому пути. Девушка попала в плен, потом в гарем к султану Сулейману, добилась уважения, убрала с пути конкуренток и добилась благосклонности правителя. Роксолана приняла ислам и получила новое имя Хюррем.
          Никаких реальных фактов, подробностей или деталей происхождения и доосманского периода жизни Хюррем не известно и не задокументировано. Лишь в XIX веке в литературе стали появляться художественные домыслы, не имеющие под собой реальной основы. Согласно польской литературной традиции, её настоящее имя было Александра и она была дочерью рогатинского священника Гаврилы Лисовского, служившего в местной церкви Святого Духа. В украинской литературе XIX века её стали именовать Анастасией, эту версию приняли некоторые советские историки
          </font>
        </h1>
        
        <font face="Georgia" size="3" id="wiki">
            <a     href="https://ru.wikipedia.org/wiki/%D0%A1%D1%83%D0%BB%D0%B5%D0%B9%D0%BC%D0%B0%D0%BD_I">
               Сулейман I Великолепный
            </a>
          </font>
           <hr align="center" width="800" size="4" color="black" />
        <div class="imgs"><img id="sultan" vspace="5" hspace="5" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/Selim_II.jpg/290px-Selim_II.jpg" alt="Историческое изображение"></div>
          
      
        <h1 id="texxt">  
          <font face="Georgia" size="4">
          Сулейман I - десятый по счету султан Османской империи - наделил свое государство невиданным могуществом. Великий завоеватель прославился еще и как мудрый автор законов, основатель новых школ и инициатор строительства архитектурных шедевров.
         В 1494 (по некоторым сведениям - в 1495) году у турецкого султана Селима I и дочери крымского хана Аиши Хафсы родился сын, которому суждено было покорить полмира и преобразовать родную страну. 
         Своё правление Сулейман I начал с того, что отпустил на свободу несколько сотен египетских пленников из знатных семей, содержавшихся Селимом в цепях. Европейцы радовались его воцарению, но они не учли, что хотя Сулейман не был так кровожаден, как Селим I, он не меньше отца любил завоевания. Первоначально он дружил с венецианцами, и Венеция без страха смотрела на его приготовления к войнам с Венгрией и Родосом.
          </font>
        </h2>
        <font face="Georgia" size="3" id="wiki">
          <a href="https://ru.wikipedia.org/wiki/%D0%A5%D0%B0%D1%84%D1%81%D0%B0-%D1%81%D1%83%D0%BB%D1%82%D0%B0%D0%BD">
            Хафса-султан
          </a>
        </font>
         <hr align="center" width="800" size="4" color="black" />
        <div class="imgs"><img id="sultan" vspace="5" hspace="5" src="https://062013.imgbb.ru/user/31/312441/2111927a6674e390947e99efa0019729.jpg" alt="Историческое изображение"></div>
        
      
        <h1 id="texxt">   
          <font face="Georgia" size="4">
          Айше-Хавса султан родилась зимой 1479 года во дворце Девлет-Сарай, ее матерью была одна из ханских жен Махдум-султан, из знатного черкесского рода Бесленей.Вместе со своим мужем и внушительной свитой юная Айше-Хавса, а ей тогда было 14 лет, отправляется в Османскую империю. В 1494 году в Трабзоне у них родился сын Сулейман.
          Достоверно неизвестны количество и имена детей султана Селима I от Хафсы. Помимо Сулеймана I, Хафса считается матерью Хатидже-султан (ум. после 1536), Фатьмы-султан (ум. после 1553) и Бейхан-султан (ум. до 1559). О жизни Хафсы-султан известно мало. Достоверно известно, что скончалась она в возрасте 56 лет[9], исходя из чего примерной датой рождения будущей валиде-султан следует считать 1478 или 1479 год
          </font>
        </h3>
        <font face="Georgia" size="3" id="wiki">
          <a href="https://ru.wikipedia.org/wiki/%D0%9C%D0%B0%D1%85%D0%B8%D0%B4%D0%B5%D0%B2%D1%80%D0%B0%D0%BD-%D1%81%D1%83%D0%BB%D1%82%D0%B0%D0%BD">
           Гюльбахар Махидевран-султан
          </a>
        </font>
         <hr align="center" width="800" size="4" color="black" />
        <div class="imgs"><img id="sultan" vspace="5" hspace="5"  src="https://штат-18.рф/800/600/http/122012.imgbb.ru/user/49/491201/1/52e244e9b139c8c0ba581766859b5e00.jpg" alt="Историческое изображение"></div>
        
      
        <h1 id="texxt">  
          <font face="Georgia" size="4">
          Точная не известно, когда родилась будущая жена султана, но говорят, что примерно около 1500 года. И настоящее имя её было Мальхуруб. В гарем Сулеймана она попала очень молоденькой девушкой. А Махидевран  султан она стала после того, как подарила Сулейману нового наследника, сына Мустафу. В 1520 году умер султан Селим I; Сулейман стал султаном и вместе с семьёй перебрался в Стамбул. Через год от оспы скончались двое сыновей Сулеймана — девятилетний Махмуд и двухлетний Мурад; смерть сыновей султана сделала Махидевран матерью единственного наследника престола и, согласно традиции, принесла ей титул главной жены (баш-кадын), которая была второй женщиной в гареме после валиде-султан. Махидевран Султан скончалась 3 февраля 1580/1581 года, пережив Сулеймана, Хюррем и всех их детей. Похоронена в мечети Мурадие в Бурсе в мавзолее шехзаде Мустафы
          </font>
        </h4>
        <font face="Georgia" size="3"  id="wiki">
          <a href="https://ru.wikipedia.org/wiki/%D0%9C%D0%B8%D1%85%D1%80%D0%B8%D0%BC%D0%B0%D1%85-%D1%81%D1%83%D0%BB%D1%82%D0%B0%D0%BD">
           Михримах-султан
          </a>
        </font>
         <hr align="center" width="800" size="4" color="black" />
        <div class="imgs"><img id="sultan" vspace="5" hspace="5"  src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Tizian_121.jpg/274px-Tizian_121.jpg" alt="Историческое изображение"></div>
        
      
        <h1 id="texxt">  
          <font face="Georgia" size="4">
          Михримах родилась 21 марта 1522 года в день весеннего равноденствия, в Стамбуле. Многие историки связывают именно с датой ее рождения происхождение имени – «михр-и-мах», что в переводе с персидского означает «солнце и луна». Она была единственной дочерью Султана Сулеймана и его прекрасной жены, славянского происхождения, Хюррем.
         Михримах стала одной из немногих принцесс Османской империи, которая сыграла немаловажную роль в управлении государством. Во второй половине правления султана Сулеймана I его фаворитом стал Рустем-паша, босняк, хорват, серб или албанец по происхождению. Султан часто спрашивал совета Рустема, что не могло не настроить на вражду другого фаворита Сулеймана — великого визиря Паргалы Ибрагима-пашу. Опасаясь потери влияния, великий визирь назначил Рустема, до этого занимавшего гораздо менее значимый пост мирахура, на должность губернатора в отдалённой провинции Диярбакыр. Примерно в это же время, по слухам, Хюррем-султан узнала о том, что Рустем выражает желание жениться на Михримах, и поддержала его
          </font>
        </h5>
    </div>
  </center>
</body>
{% endblock %} 