<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>VV</title>
    <link rel="shortcut icon" id="short" href="{{url_for('static', filename='image/icon.png')}}" type="image/png">
     <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    {% include 'header.html' %}
    {% block content %}
    {% endblock %}
    {% include 'footer.html' %}
    <script src="{{url_for('static', filename="js/js.js")}}"></script>
    <script src="{{url_for('static', filename="js/script.js")}}"></script>

  </body>
</html>
